.banner {
  background: url(../images/banner2.png) center/cover no-repeat;
  height: 557px;
  position: relative;
  margin-bottom: 40px;
}

.banner__wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background: rgba(186, 186, 186, 0.5);
  backdrop-filter: blur(7.5px);
  max-width: 400px;
  max-height: 154px;
  position: absolute;
  left: 50px;
  top: 0;
}

.banner__title {
  color: #fff;
  font-size: 40px;
}

@media screen and (max-width: 768px) {
  .banner__wrap {
    max-width: 300px;
    left: 30px;
  }
}

@media screen and (max-width: 480px) {
  .banner__wrap {
    max-width: 200px;
    left: 20px;
    max-height: 140px;
  }

  .banner__title {
    font-size: 30px;
  }
}
